.siteheader {
  margin-top: 64px;
  margin-bottom: 67px;
  .siteheader__logo {
    width: 196px;
    height: 24px;
  }
}

.siteheader__container {
  display: flex;
  justify-content: space-between;
}

.siteheader__nav-list {
  display: flex;
  gap: 42px;
}

.list-item a {
  display: flex;
  transition: 0.3s;
  color: var(--dark_grey);
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
  }
}
.siteheader__burger {
  display: none;
  position: absolute;
  right: 24px;
}

@media only screen and (max-width: 375px) {
  .siteheader__nav {
    display: none;
  }
  .siteheader__burger {
    display: block;
    width: 24px;
  }
  .siteheader {
    padding: 65px 24px;
    margin-top: 0;
    margin-bottom: 0;
    height: 27px;
    .siteheader__logo {
      width: 202px;
      height: 27px;
      margin: 0;
      padding: 0;
    }
  }
}
