@import "./global.css";

.hero__container {
  width: 1111px;
  padding: 0 !important;
  margin: 0;
  display: flex;
  background-color: var(--peach);
  height: 640px;
  border-radius: 15px;
  background-image: url(../images/home/desktop/bg-pattern-hero-home.svg);
  background-position: right;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero__text {
  margin-top: 145px;
  margin-left: 95px;
}
.hero__title {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  width: 540px;
  height: 165px;
}
.hero__subtitle {
  margin-top: 11px;
  margin-bottom: 58px;
  width: 445px;
  height: 78px;
}

.hero__image {
  width: 550px;
  height: 850px;
  position: relative;
  top: 20px;
}

/* Design Cards */

.design {
  margin: 160px 0;
  position: relative;
}

.design__card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 24px;
  div:nth-child(1) {
    width: 541px;
    height: 640px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-image: url(../images/home/desktop/image-web-design-large.jpg);
  }
  div:nth-child(2) {
    width: 541px;
    height: 308px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url(../images/home/desktop/image-app-design.jpg);
  }
  div:nth-child(3) {
    width: 541px;
    height: 308px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-image: url(../images/home/desktop/image-graphic-design.jpg);
  }
}

/* Illustration */

.illustration {
  color: var(--dark_grey);
  background-image: url(../images/shared/desktop/bg-pattern-right.svg);
  background-position: right 124px;
  background-repeat: no-repeat;
}

.illustration__container {
  display: flex;
  gap: 30px;
}

.illustration__card {
  text-align: center;
}

.illustration__image {
  background-image: url(../images/shared/desktop/bg-pattern-small-circle.svg);
  background-position: right;
  background-repeat: no-repeat;
}
.illustration__title {
  margin-top: 48px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 5px;
}
.illustration__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
