@import "../../css/global.css";

.loc__card {
  color: var(--black);
  display: flex;
  gap: 30px;
}

.loc__text {
  width: 730px;
  height: 326px;
  background-color: #fdf3f0;
  border-radius: 15px;
  padding: 88px 95px;
  background-image: url(../../images/shared/desktop/bg-pattern-two-circles.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    color: var(--peach);
    margin-bottom: 24px;
  }
}
.location-subtitle {
  display: flex;
  p {
    width: 255px;
    height: 78px;
  }
}

.location{
    display: flex;flex-direction: column;
    gap: 32px;
}